<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ pageTitle }}{% endblock %}</title>
    <link rel="icon" href="{{mount}}/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="{{ stylesheets.bootstrap }}" rel="stylesheet">
    <link href="{{ stylesheets.fa }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ stylesheets.base }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ javascripts.jquery }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block nav %}{% include "./shared/nav.html" %}{% endblock %}
    {% block content %}{% endblock %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ javascripts.bootstrap }}"></script>
    <script src="{{ javascripts.base }}"></script>
    {% block script %}{% endblock %}
    {% block footer%}
      {% include "./shared/footer.html" %}
    {% endblock %}
  </body>
</html>