.container
  max-width: 970px

.bs-callout
  margin: 20px 0
  padding: 20px
  border-left: 3px solid #eee

  h4
    margin-top: 0
    margin-bottom: 5px

.bs-callout-info
  background-color: #f4f8fa
  border-color: #5bc0de
  h4
    color: #5bc0de

.bs-callout-danger
  background-color: #fdf7f7
  border-color: #d9534f
  h4
    color: #d9534f

.bs-callout-warning
  background-color: #fcf8f2
  border-color: #f0ad4e
  h4
    color: #f0ad4e
    
    
.dashboard-box
  margin: 1.5em auto
  padding: 5px 15px 15px 15px
  position: relative
  background-color: #fff
  border: 1px solid #ddd
  border-radius: 4px 4px 0 0
  border-top: 8px solid #eee

.dashboard-box-blue
  border-color: #0072bc

.dashboard-box-brown
  border-color: #6c0f13

.dashboard-box-red
  border-color: #9c4564

.dashboard-box-green
  border-color: #507982


.media-box
  margin: 5px
  img
    text-align: center
    padding: 5px
    background-color: #fff
    border: 1px solid #ddd
    border-radius: 4px 4px 0 0
   
.admin-footer
	margin: 2em auto
	padding: 1em
	font-size: 12px
	border-top: 1px solid #eee
  
.table-record
  th
    min-width: 100px